{% extends 'habitapp/base.html' %}
{% load static %}

{% block header %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'habitapp:top' %}">
    <img src="{% static 'habitapp/img/logo.png' %}" alt="...">
  </a>
  <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
{% endblock header %}

{% block main %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">
              <span data-feather="home"></span>
              習慣リスト
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              習慣の可視化
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              命のタイマー
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'habitapp:logout' %}">
              ログアウト
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Habit List</h1>
        <a href="{% url 'habitapp:create' %}" class="btn btn-outline-primary" tabindex="-1" role="button">習慣を追加する</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h4 class="my-3"><i class="far fa-thumbs-up"></i> Good Habit</h4>
            <ul class="list-group">
              {% for good_item in good_list %}
                {% if user.get_username == good_item.username %}
                  <li class="list-group-item">
                    <p>{{ good_item.habit }}</p>
                    <a class="btn btn-success btn-sm" href="{% url 'habitapp:update' good_item.pk %}" role="button"><i class="fas fa-edit"></i> 編集</a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'habitapp:delete' good_item.pk %}" role="button"><i class="fas fa-trash"></i> 削除</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-md">
            <h4 class="my-3"><i class="far fa-thumbs-down"></i> Bad Habit</h4>
            <ul class="list-group">
              {% for bad_item in bad_list %}
                {% if user.get_username == bad_item.username %}
                  <li class="list-group-item">
                    <p>{{ bad_item.habit }}</p>
                    <a class="btn btn-success btn-sm" href="{% url 'habitapp:update' bad_item.pk %}" role="button"><i class="fas fa-edit"></i> 編集</a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'habitapp:delete' bad_item.pk %}" role="button"><i class="fas fa-trash"></i> 削除</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock main %}

{% block footer %}
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start"></div>
            <div class="col-lg-4 my-3 my-lg-0"></div>
            <div class="col-lg-4 text-lg-end">Copyright &copy; 2021 Genki</div>
        </div>
    </div>
</footer>
{% endblock footer %}