{% extends 'base.html' %}

{% block main %}
  {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
      <input type="hidden" name="username" value="{{ user.username }}">
      <p>習慣：{{ form.habit }}</p>
      <p>頻度：{{ form.frequency }}</p>
      <p>時間：{{ form.time_value }}</p>
      <p>単位：{{ form.time_unit }}</p>
      <p>習慣ラベル：{{ form.good_or_bad }}</p>
      <input type="submit" value="習慣を追加する">
    </form>

  {% else %}
    <p>ログインしてください。</p>

  {% endif %}
{% endblock main %}